*{
margin : 0;
padding : 0;
}

body
{
	background-color : #B1AFFF;
	text-align: center;
}

.container
{
	height : 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vmin;
	row-gap: 10px;
 
}

.game
{
	height: 60vmin;
	width: 60vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1vmin;
	row-gap: 10px;


}

.box
{
	background-color: white;
	color: red;
	height : 18vmin;
	width : 18vmin;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 1rem rgb(0,0,0,0.4);
	font-size: 6vmin;
	align-item: center;

}

#reset-btn
{
	margin: 1rem;
	padding: 1rem;
	font-size: 1.25rem;
	background-color: black;
	color: white;
	border-radius: 1rem;
	border: none;
}

#new-btn
{
	margin: 1rem;
	padding: 1rem;
	font-size: 1.25rem;
	background-color: black;
	color: white;
	border-radius: 1rem;
	border: none;
}

#msg
{
	color: white;
	font-size: 5vmin;
}

.msg-container
{
	height: 100vmin;
	display : flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

.hide
{
	display: none;
}